PORT=3000
APP_BASE_URL=http://localhost:3000
SESSION_SECRET=change-me
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_PATH=/auth/google/callback
GOOGLE_MAPS_API_KEY=
WATI_WEBHOOK_SECRET=
MANYCHAT_WEBHOOK_SECRET=
XAI_API_KEY=
XAI_MODEL=grok-4.20-reasoning
META_APP_ID=
META_APP_SECRET=
META_REDIRECT_PATH=/auth/meta/callback
META_WEBHOOK_VERIFY_TOKEN=
META_INSTAGRAM_CONFIG_ID=
META_WHATSAPP_CONFIG_ID=
WA_PHONE_NUMBER_ID=
WA_BUSINESS_ACCOUNT_ID=
WA_ACCESS_TOKEN=
LEEGALITY_CREATE_URL=
LEEGALITY_API_KEY=
LEEGALITY_API_KEY_HEADER=X-Auth-Token
LEEGALITY_WEBHOOK_SECRET=
GOOGLE_OAUTH_SCOPES=https://www.googleapis.com/auth/userinfo.email,https://www.googleapis.com/auth/userinfo.profile,https://www.googleapis.com/auth/spreadsheets,https://www.googleapis.com/auth/calendar,https://www.googleapis.com/auth/drive.file
