node_modules/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/app/google-services.json
ios/App/App/GoogleService-Info.plist
*.keystore
*.jks
.DS_Store
